body{
    margin: 0;
}
.content{
    margin: 0 auto;
    max-width: 750px;
    display: flex;
    
}
.img{
    height: 610px;
    position: relative;
    background-color:rgb(29, 28, 28)
}
.Education{
    color: rgb(211, 216, 219);
    position: relative;
    left: 3em;
    top: -1.5em;
    margin-top: 2em;
}
.line{
    color: rgb(240, 221, 54);
    background-color: rgb(240, 221, 54);
    border: none;
    height: 2px;
    width: 12em;
    position: absolute;
    right: 3.01em;
    top: 1.2em;

}
.line1{
    color: rgb(240, 221, 54);
    background-color: rgb(240, 221, 54);
    border: none;
    height: 2px;
    width: 12em;
    position: absolute;
    right: 3.01em;
    top: 8em;

}
.foundation{
    margin-left: 3em;
}
.Me1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.Me{
    color: rgb(28, 28, 29);
    background-color: rgb(28, 28, 29);
    border: none;
    height: 2px;
    width: 30em;
    

}
.uph{
    position: relative;
    bottom: 1em;
}
.tatle{
    font-size: 3em;
    padding-left: 1em;
    background-color: rgb(240, 221, 54);
    margin-bottom: 0;
}
.tatle2{
    font-size: 1.3em;
    padding-left: 2.4em;
    padding-bottom: 1em;
    background-color: rgb(240, 221, 54);
    margin-top: 0;
    text-transform: uppercase;
}
.tatle3{
    text-transform: uppercase;
    color: rgb(211, 216, 219);
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    position: relative;
    left: -1em;
    
}
.Reference{ color: rgb(211, 216, 219);
    position: relative;
    left: 3em;
    top: -1.5em;
    margin-top: 2em;

}
.data{
    line-height: 1,5em;
    position: absolute;
    bottom: 20px;
    left: 38px;
    color: rgb(211, 216, 219);
}
.dataphone, .dataaddress, .dataemail{
    padding: 2px 0.46em;
    display: block; 
    position: relative; 
    left: 0; width: 100%;
    background-color: rgba(55, 55, 56, 0.397);
    margin-top: 10px;
}
.img1{
    position: absolute;
    bottom: 3.3em;
}
.img2{
    position: absolute;
    bottom: 6.4em;
}
.img3{
    position: absolute;
    bottom: 9.5em;
}

.tes{
    

}