.img{
    position: absolute;
    top: 4em;
    right: 25em;
}
.block{
    max-width: 600px;
    margin: 0 auto;
}
p{
    color:darkolivegreen;
    padding: 0% 2% 0%; 
}
.tatle{
    background-color: brown;
    margin: 0;
    font-size: 40px;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
}
